.body {
    font-family: Arial, Helvetica, sans-serif;
    background: color #fffde7; ;
    padding: 20px;
}
.container {
    width: 600px;
    margin:auto;
    background-color: #FFFDE7;
    border: 2px solid #ffd9e6;
    padding: 30px;
    box-sizing: border-box;
}
.title{
    color: #D40000;
    text-align: center;
    background-color: #FFD9E6 ;
    font-weight: bold;
    padding: 10px;
    margin-top: 0;
}
.main{
    text-align: center;
    font-style: italic;
    line-height: 1.6; 
}
.p1{
    color:#0033CC;
}
.p2{
    color:#D40000;
}
.p3{
    color:#0033CC;
}